---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import "../styles/global.css";

// Odbieramy title i description przekazane z każdej strony
const { title, description } = Astro.props
---
<!DOCTYPE html>
<html lang="pl" class="dark scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.ico" sizes="any">
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-white font-sans">
    <Navbar />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
